.modal_container {
    .modal_background {
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: rgba(0, 0, 0, 0.9);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 10000000;

        .modal_content {
            width: 700px;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #2b2d42;
            position: absolute;
            right: 0;
            height: 100%;
            border-top-left-radius: 60px;
            border-bottom-left-radius: 60px;
            overflow: hidden;
            overflow-y: scroll;

            @media (max-width: 736px) {
                width: 70%;
            }

            .modal_header {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 16px;
                padding: 0 60px;

                h1 {
                    font-size: 26px;
                    font-weight: bold;
                    color: #fff;
                    margin: 0;
                    padding: 0;
                }

                button {
                    border: none;
                    height: 30px;
                    width: 30px;
                    background-color: transparent;
                    border-radius: 50%;
                    border: 2px solid white;
                    font-size: 16px;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: 0.3s all ease-in-out;

                    &:hover {
                        background-color: white;

                        i {
                            color: #2b2d42 !important;
                        }
                    }
                }
            }

            .modal_body {
                width: 95%;
                padding: 16px;
            }
        }
    }
}

.chat_card__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .chat_card {
        width: 65px;
        height: 65px;
        margin-bottom: 10px;
        border-radius: 10px;
        background-color: #464857;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 10px 20px;

        h1 {
            width: 10px;
            background-color: #9698b1;
            width: 100%;
            font-size: 8px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;

            img {
                width: 10px;
                height: 10px;
                margin-right: 3px;
            }
        }

        h2 {
            font-size: 10px;
            color: white;
        }

        h3 {
            font-size: 8px;
            margin-bottom: 5px;
            color: #9698b1;
        }
    }
}